:host {
  display: block;
  height: 100%;
}

.layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  height: 100%;
}

@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
